<div class="flex p-2 gap-2 ">
  <div class="p-0.5 flex-shrink-0">
    <%# Profile Picture %>
    <%# TODO: Replace this with the real profile picture if available %>
    <%= image_tag "profile-pic.png", alt: "Profile Picture", class: "size-8 rounded-full" %>
  </div>
  <%# Comment Container %>
  <div class="flex flex-col p-0.5">
    <%# TODO: Replace this with the comment author username and posted date %>
    <p class="text-sm">@mjfelecio • 6 min ago</p>
    <p class="text-md py-1.5"> <%= comment.content  %> </p>
    <%# TODO: Make this comment support likes %>
    <%= render "likes/likes_button", resource: comment.post %>
  </div>
</div>