<div class="flex justify-center items-center">
  <div class="min-w-sm p-6 m-4 bg-white border border-gray-200 rounded-lg shadow-sm">
    <h1 class="text-3xl text-center font-medium text-gray-900 mb-4">Edit Profile</h1>
    <%= render "profile_form", user: @user %>
  </div>
</div>