<h1 class="text-center text-3xl font-semibold py-4">All Users</h1>
<ul role="list" class="divide-y-2 divide-gray-400 px-6">
  <% @users.each do |user| %>
    <li class="py-1.5">
      <%= render "user_link", user: user %>
    </li>
  <% end %>
</ul>