<% content_for :title, "New post" %>

<div class="flex justify-center items-center">
  <div class="min-w-xl p-6 m-4 bg-white border border-gray-200 rounded-lg shadow-sm">
    <h1 class="text-3xl text-center font-medium text-gray-900 mb-4">New Post</h1>
    <%= render "form", post: @post %>
  </div>
</div>
