<p style="color: green"><%= notice %></p>

<%= render @post %>

<%= link_to "Post Comment", new_post_comment_path(@post) %>

<% @post.comments.each do |comment| %>
	<%= render "comments/comment", comment: comment %>
<% end %>